body {
    font-family: 'Roboto', sans-serif;
    background-color: #C0C2D7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #242857;
}

img {
    max-width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.tareas-container {
    margin-top: 20px; /* Agrega un margen superior para separar el formulario de las tareas */
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #8083AC;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4B5082;
}
