@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C0C2D7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #242857;
}

img {
    max-width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #8083AC;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

a.button:hover {
    background-color: #4B5082;
}







.tareas-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinea el texto a la izquierda */
}

.tareas-container .tarea {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F8F9FA;
    border-radius: 5px;
}

.tareas-container h2 {
    color: #242857;
    margin-bottom: 10px;
}

.tareas-container label {
    display: block;
    margin-bottom: 5px;
}

.tareas-container input[type="checkbox"] {
    margin-right: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #8083AC;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4B5082;
}
