@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C0C2D7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #8083AC;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #4B5082;
}

input[type="text"],
input[type="password"] {
    width: 250px; /* Ajusta el ancho según tu preferencia */
    height: 25px; /* Ajusta la altura según tu preferencia */
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #242857;
    border-radius: 5px;
}

a {
    color: #242857;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


