/* style.css */

body {
    font-family: Arial, sans-serif;
    color: black; /* Cambia el color del texto a negro */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.titulo-fila th {
    background-color: #8083AC; /* Color de fondo para las filas de títulos */
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

select {
    padding: 5px;
    background-color:#6f75af80 ;
    color: black; /* Cambia el color del texto del select a negro */
}

select option[value="Pendiente"],
select option[value="Completado"] {
    color: white; /* Cambia el color del texto de las opciones a blanco */
}

input[type="submit"] {
    padding: 10px;
    background-color: #8083AC; /* Color de fondo para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #242857; /* Cambia el color al pasar el ratón sobre el botón */
}
