/* style.css */

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    
}

.titulo-fila th {
    background-color: #4B5082; /* Color de fondo para las filas de títulos */
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

select {
    padding: 5px;
    background-color:#6f75af ;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4B5082; /* Color verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #242857; /* Cambia el color al pasar el ratón sobre él */
}
